body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pl2 {
    padding-left: 2rem;
}
.mt2 {
    margin-top: 2rem;
}
.mt1 {
    margin-top: 1rem;
}

.result {
    background-color: green;
    color: #fff;
    padding: 20px;
}
.row {
    display: flex;
}
.col {
    padding: 30px;
}
#reader {
    width: 500px;
}
